<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Drag-and-drop test</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/drag-and-drop.js}"></script>
</head>
<body>
    <section id="toolbar" class="row show-grid container center-block">
        <section draggable="true" ondragstart="handleDragStart(event)" ondrag="handleDrag(event)"
                ondrop="handleDrop(event)" ondragend="handleDragEnd(event)" ondragover="handleDragOver(event)"
                class="col-lg-2 text-center h3" data-type="button">
            Кнопка
        </section>
        <section draggable="true" ondragstart="handleDragStart(event)" ondrag="handleDrag(event)"
                ondrop="handleDrop(event)" ondragend="handleDragEnd(event)" ondragover="handleDragOver(event)"
                class="col-lg-3 text-center h3" data-type="image">
            Изображение
        </section>
        <section draggable="true" ondragstart="handleDragStart(event)" ondrag="handleDrag(event)"
                ondrop="handleDrop(event)" ondragend="handleDragEnd(event)" ondragover="handleDragOver(event)"
                class="col-lg-3 text-center h3" data-type="panel">
            Панель
        </section>
        <section draggable="true" ondragstart="handleDragStart(event)" ondrag="handleDrag(event)"
                ondrop="handleDrop(event)" ondragend="handleDragEnd(event)" ondragover="handleDragOver(event)"
                class="col-lg-2 text-center h3" data-type="text">
            Текст
        </section>
        <section draggable="true" ondragstart="handleDragStart(event)" ondrag="handleDrag(event)"
                ondrop="handleDrop(event)" ondragend="handleDragEnd(event)" ondragover="handleDragOver(event)"
                class="col-lg-2 text-center h3" data-type="text_field">
            Поле ввода
        </section>
    </section>
    <section id="editor" class="center-block" style="border: 1px dashed;width: 80%; height: 500px"
             ondragstart="handleDragStart(event)" ondrag="handleDrag(event)" ondrop="handleDrop(event)"
             ondragend="handleDragEnd(event)" ondragover="handleDragOver(event)"></section>
</body>
</html>