<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Drag-and-drop test</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/drag-and-drop.js}"></script>
    <script th:src="@{/js/utils.js}"></script>
</head>
<body onload="getComponents()">
    <section id="toolbar" class="row show-grid container center-block">
        <section class="col-lg-2 text-center">
            <button onclick="sendComponents(document.getElementById('editor'))">Сохранить</button>
        </section>
        <section draggable="true" ondragstart="handleDragStart(event)" ondrag="handleDrag(event)"
                ondragend="handleDragEnd(event)" class="col-lg-2 text-center h3" data-type="BUTTON">
            Кнопка
        </section>
        <section draggable="true" ondragstart="handleDragStart(event)" ondrag="handleDrag(event)"
                ondragend="handleDragEnd(event)" class="col-lg-2 text-center h3" data-type="IMAGE">
            Изображение
        </section>
        <section draggable="true" ondragstart="handleDragStart(event)" ondrag="handleDrag(event)"
                ondragend="handleDragEnd(event)" class="col-lg-2 text-center h3" data-type="PANEL">
            Панель
        </section>
        <section draggable="true" ondragstart="handleDragStart(event)" ondrag="handleDrag(event)"
                ondragend="handleDragEnd(event)" class="col-lg-2 text-center h3" data-type="TEXT">
            Текст
        </section>
        <section draggable="true" ondragstart="handleDragStart(event)" ondrag="handleDrag(event)"
                ondragend="handleDragEnd(event)" class="col-lg-2 text-center h3" data-type="TEXTFIELD">
            Поле ввода
        </section>
    </section>
    <section id="editor" class="center-block" style="border: 1px dashed;width: 80%; height: 500px"
             ondragstart="handleDragStart(event)" ondrag="handleDrag(event)" ondrop="handleDrop(event)"
             ondragend="handleDragEnd(event)" ondragover="handleDragOver(event)"></section>
</body>
</html>